USE [master]
GO
/****** Object:  Database [BurgerTentacion]    Script Date: 26/05/2026 8:16:12 p. m. ******/
CREATE DATABASE [BurgerTentacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BurgerTentacion', FILENAME = N'C:\Users\andrea\BurgerTentacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BurgerTentacion_log', FILENAME = N'C:\Users\andrea\BurgerTentacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BurgerTentacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BurgerTentacion]
GO
/****** Object:  Table [dbo].[adiciones]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adiciones](
	[id_adicion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio_extra] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[combo_contenido]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combo_contenido](
	[id_combo] [int] NOT NULL,
	[id_componente] [int] NOT NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_adiciones]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_adiciones](
	[id_detalle_adicion] [int] IDENTITY(1,1) NOT NULL,
	[id_detalle] [int] NOT NULL,
	[id_adicion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_adicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_pedido]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_pedido](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_preferencias]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_preferencias](
	[id_detalle_pref] [int] IDENTITY(1,1) NOT NULL,
	[id_detalle] [int] NOT NULL,
	[id_preferencia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_pref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_sede] [int] NOT NULL,
	[metodo_pago] [varchar](20) NULL,
	[estado_pago] [varchar](20) NULL,
	[transaccion_id] [varchar](100) NULL,
	[total] [decimal](10, 2) NOT NULL,
	[estado] [varchar](20) NULL,
	[observaciones] [varchar](max) NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pqrsd]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pqrsd](
	[id_pqrsd] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[tipo] [varchar](50) NULL,
	[asunto] [varchar](200) NULL,
	[mensaje] [varchar](max) NULL,
	[respuesta_admin] [varchar](max) NULL,
	[estado] [varchar](20) NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pqrsd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preferencias_preparacion]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preferencias_preparacion](
	[id_preferencia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_preferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[precio_base] [decimal](10, 2) NOT NULL,
	[categoria] [varchar](20) NOT NULL,
	[imagen] [varchar](255) NULL,
	[disponible] [bit] NULL,
	[precio_promocional] [decimal](10, 2) NULL,
	[es_promocion] [bit] NULL,
	[fecha_inicio_promo] [datetime] NULL,
	[fecha_fin_promo] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sedes]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sedes](
	[id_sede] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](max) NOT NULL,
	[latitud] [decimal](9, 6) NULL,
	[longitud] [decimal](9, 6) NULL,
	[esta_disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 26/05/2026 8:16:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion_entrega] [varchar](max) NULL,
	[correo] [varchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adiciones] ON 

INSERT [dbo].[adiciones] ([id_adicion], [nombre], [precio_extra]) VALUES (1, N'Queso', CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[adiciones] ([id_adicion], [nombre], [precio_extra]) VALUES (2, N'Tocineta', CAST(3000.00 AS Decimal(10, 2)))
INSERT [dbo].[adiciones] ([id_adicion], [nombre], [precio_extra]) VALUES (3, N'Carne Extra', CAST(5000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[adiciones] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_pedido] ON 

INSERT [dbo].[detalle_pedido] ([id_detalle], [id_pedido], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (1, 1, 7, 1, CAST(30000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[detalle_pedido] ([id_detalle], [id_pedido], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 2, 5, 1, CAST(32000.00 AS Decimal(10, 2)), CAST(32000.00 AS Decimal(10, 2)))
INSERT [dbo].[detalle_pedido] ([id_detalle], [id_pedido], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 3, 16, 1, CAST(5500.00 AS Decimal(10, 2)), CAST(5500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalle_pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[pedidos] ON 

INSERT [dbo].[pedidos] ([id_pedido], [id_usuario], [id_sede], [metodo_pago], [estado_pago], [transaccion_id], [total], [estado], [observaciones], [fecha_creacion]) VALUES (1, 1, 1, N'Digital', N'Pendiente', NULL, CAST(30000.00 AS Decimal(10, 2)), N'Recibido', NULL, CAST(N'2026-05-13T23:32:32.363' AS DateTime))
INSERT [dbo].[pedidos] ([id_pedido], [id_usuario], [id_sede], [metodo_pago], [estado_pago], [transaccion_id], [total], [estado], [observaciones], [fecha_creacion]) VALUES (2, 2, 1, N'Efectivo', N'Pendiente', NULL, CAST(37000.00 AS Decimal(10, 2)), N'Recibido', NULL, CAST(N'2026-05-13T23:41:40.353' AS DateTime))
INSERT [dbo].[pedidos] ([id_pedido], [id_usuario], [id_sede], [metodo_pago], [estado_pago], [transaccion_id], [total], [estado], [observaciones], [fecha_creacion]) VALUES (3, 3, 1, N'Digital', N'Pendiente', NULL, CAST(70000.00 AS Decimal(10, 2)), N'Recibido', NULL, CAST(N'2026-05-13T23:44:03.203' AS DateTime))
SET IDENTITY_INSERT [dbo].[pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[pqrsd] ON 

INSERT [dbo].[pqrsd] ([id_pqrsd], [nombre_completo], [correo], [telefono], [tipo], [asunto], [mensaje], [respuesta_admin], [estado], [fecha_creacion]) VALUES (1003, N'Santiago Zapata ', N'sa@gmail.com', N'3029338388', N'Sugerencia', N'Rapidez', N'mas rapido.', N'Sin respuesta aún', N'Pendiente', CAST(N'2026-05-13T23:07:57.327' AS DateTime))
INSERT [dbo].[pqrsd] ([id_pqrsd], [nombre_completo], [correo], [telefono], [tipo], [asunto], [mensaje], [respuesta_admin], [estado], [fecha_creacion]) VALUES (1004, N'Sofia Uribe Piedrahita ', N'sofi@gmail.com', N'8273373', N'Peticion', N'Mas sedes', N'quiero mas sedes.', N'Sin respuesta aún', N'Pendiente', CAST(N'2026-05-14T00:00:13.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[pqrsd] OFF
GO
SET IDENTITY_INSERT [dbo].[preferencias_preparacion] ON 

INSERT [dbo].[preferencias_preparacion] ([id_preferencia], [nombre]) VALUES (1, N'Sin cebolla')
INSERT [dbo].[preferencias_preparacion] ([id_preferencia], [nombre]) VALUES (2, N'Sin pepinillos')
INSERT [dbo].[preferencias_preparacion] ([id_preferencia], [nombre]) VALUES (3, N'Sin salsa')
SET IDENTITY_INSERT [dbo].[preferencias_preparacion] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [nombre], [descripcion], [precio_base], [categoria], [imagen], [disponible], [precio_promocional], [es_promocion], [fecha_inicio_promo], [fecha_fin_promo], [created_at], [updated_at]) VALUES (5, N'La Mata Hambre', N'La más grande de la casa. Triple carne, triple queso y tocineta crocante.', CAST(32000.00 AS Decimal(10, 2)), N'hamburguesa', N'multimedia/hamburguesa1.jpg', 1, NULL, 0, NULL, NULL, CAST(N'2026-05-13T20:28:44.720' AS DateTime), CAST(N'2026-05-13T20:28:44.720' AS DateTime))
INSERT [dbo].[productos] ([id_producto], [nombre], [descripcion], [precio_base], [categoria], [imagen], [disponible], [precio_promocional], [es_promocion], [fecha_inicio_promo], [fecha_fin_promo], [created_at], [updated_at]) VALUES (6, N'La Sabrosona', N'Carne premium con aros de cebolla, salsa de la casa y doble queso cheddar.', CAST(28000.00 AS Decimal(10, 2)), N'hamburguesa', N'multimedia/hamburguesa2.jpg', 1, NULL, 0, NULL, NULL, CAST(N'2026-05-13T20:28:44.720' AS DateTime), CAST(N'2026-05-13T20:28:44.720' AS DateTime))
INSERT [dbo].[productos] ([id_producto], [nombre], [descripcion], [precio_base], [categoria], [imagen], [disponible], [precio_promocional], [es_promocion], [fecha_inicio_promo], [fecha_fin_promo], [created_at], [updated_at]) VALUES (7, N'La Tumba Dietas', N'Bañada en salsa de queso azul, champiñones salteados y cebolla caramelizada.', CAST(30000.00 AS Decimal(10, 2)), N'hamburguesa', N'multimedia/hamburguesa3.jpg', 1, NULL, 0, NULL, NULL, CAST(N'2026-05-13T20:28:44.720' AS DateTime), CAST(N'2026-05-13T20:28:44.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[sedes] ON 

INSERT [dbo].[sedes] ([id_sede], [nombre], [direccion], [latitud], [longitud], [esta_disponible]) VALUES (1, N'Burger Medellín - El Poblado', N'Carrera 43A # 5-20, Medellín', CAST(6.208900 AS Decimal(9, 6)), CAST(-75.567800 AS Decimal(9, 6)), 1)
INSERT [dbo].[sedes] ([id_sede], [nombre], [direccion], [latitud], [longitud], [esta_disponible]) VALUES (2, N'Burger Medellín - Laureles', N'Avenida Jardín # 74-10, Medellín', CAST(6.244200 AS Decimal(9, 6)), CAST(-75.592100 AS Decimal(9, 6)), 1)
INSERT [dbo].[sedes] ([id_sede], [nombre], [direccion], [latitud], [longitud], [esta_disponible]) VALUES (3, N'Burger Medellín - Belén', N'Calle 30 # 65-45, Medellín', CAST(6.231900 AS Decimal(9, 6)), CAST(-75.596000 AS Decimal(9, 6)), 1)
SET IDENTITY_INSERT [dbo].[sedes] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nombre], [telefono], [direccion_entrega], [correo], [created_at]) VALUES (1, N'Felipe Giraldo', N'3247893839', N'Maruchenga ', NULL, CAST(N'2026-05-13T23:32:32.347' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [telefono], [direccion_entrega], [correo], [created_at]) VALUES (2, N'Juanes Escobar', N'345676543', N'Pedregal', NULL, CAST(N'2026-05-13T23:41:40.327' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [telefono], [direccion_entrega], [correo], [created_at]) VALUES (3, N'Samuel Chica', N'3459765675', N'paris', NULL, CAST(N'2026-05-13T23:44:03.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[adiciones] ADD  DEFAULT ((0)) FOR [precio_extra]
GO
ALTER TABLE [dbo].[combo_contenido] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT ('Pendiente') FOR [estado_pago]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT ('Recibido') FOR [estado]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[pqrsd] ADD  DEFAULT ('Sin respuesta aún') FOR [respuesta_admin]
GO
ALTER TABLE [dbo].[pqrsd] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[pqrsd] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [es_promocion]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sedes] ADD  DEFAULT ((1)) FOR [esta_disponible]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[combo_contenido]  WITH CHECK ADD FOREIGN KEY([id_combo])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[combo_contenido]  WITH CHECK ADD FOREIGN KEY([id_componente])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_adiciones]  WITH CHECK ADD FOREIGN KEY([id_adicion])
REFERENCES [dbo].[adiciones] ([id_adicion])
GO
ALTER TABLE [dbo].[detalle_adiciones]  WITH CHECK ADD FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle_pedido] ([id_detalle])
GO
ALTER TABLE [dbo].[detalle_pedido]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[detalle_pedido]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_preferencias]  WITH CHECK ADD FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle_pedido] ([id_detalle])
GO
ALTER TABLE [dbo].[detalle_preferencias]  WITH CHECK ADD FOREIGN KEY([id_preferencia])
REFERENCES [dbo].[preferencias_preparacion] ([id_preferencia])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[sedes] ([id_sede])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD CHECK  (([estado_pago]='Rechazado' OR [estado_pago]='Pagado' OR [estado_pago]='Pendiente'))
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD CHECK  (([estado]='Cancelado' OR [estado]='Entregado' OR [estado]='En camino' OR [estado]='Preparando' OR [estado]='Recibido'))
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD CHECK  (([metodo_pago]='Digital' OR [metodo_pago]='Efectivo'))
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD CHECK  (([categoria]='combo' OR [categoria]='acompanante' OR [categoria]='bebida' OR [categoria]='hamburguesa'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetallesPedido]    Script Date: 26/05/2026 8:16:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerDetallesPedido]
AS
BEGIN
    -- Evita que SQL Server devuelva el mensaje de filas afectadas (mejora rendimiento)
    SET NOCOUNT ON;

    SELECT 
        p.id_pedido AS [Código Pedido],
        u.nombre AS [Cliente],
        u.telefono AS [Teléfono],
        u.direccion_entrega AS [Dirección Cliente],
        
        -- ¡AQUÍ REEMPLAZAMOS EL ID POR LOS DATOS REALES DE TU TABLA SEDES!
        s.nombre AS [Sede Despacho],
        s.direccion AS [Dirección Sede],
        
        p.metodo_pago AS [Método de Pago],
        p.total AS [Total General ($)],
        p.observaciones AS [Detalles del Envío (GPS)],
        p.fecha_creacion AS [Fecha y Hora],
        p.estado AS [Estado de la Orden]
        
    FROM pedidos p
    -- Unimos con la tabla de usuarios
    INNER JOIN usuarios u ON p.id_usuario = u.id_usuario
    -- Unimos con la tabla de sedes para jalar el nombre y ubicación real de la cocina
    INNER JOIN sedes s ON p.id_sede = s.id_sede
    
    -- Los ordenamos de manera que el último pedido realizado aparezca de primero
    ORDER BY p.fecha_creacion DESC;
END;
GO
USE [master]
GO
